/**
Code By Web Dev Trick ( https://webdevtrick.com )
For More Source Code Visit Our Blog ( https://webdevtrick.com )
**/

body, html {
	background: #ECEDEF;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
	border-radius: 14px;
	padding-bottom: 20px;
	width: 320px;
	
}
.display {
	width: 100%;
	height: 60px;
	padding: 40px 0;
	background: #FF0509;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
}
.buttons {
	padding: 20px 20px 0 20px;
}
.row {
	width: 280px;
	float: left;
}
input[type=button] {
	width: 80px;
	height: 80px;
	float: left;
	padding: 0;
	margin: 5px;
	box-sizing: border-box;
	background: #ecedef;
	border: none;
	font-size: 30px;
	line-height: 30px;
	border-radius: 50%;
	font-weight: 700;
	color: #5E5858;
	cursor: pointer;
    outline: none;
	
}
input[type=text] {
	width: 270px;
	height: 60px;
	float: left;
	padding: 0;
	box-sizing: border-box;
	border: none;
	background: none;
	color: #ffffff;
	text-align: right;
	font-weight: 700;
	font-size: 60px;
	line-height: 60px;
	margin: 0 25px;
    outline: none;	
}

input[name="potb"] {
	width: 170px;
	height: 80px;
    float: left;
	padding: 0;
	margin: 5px;
	box-sizing: border-box;
	background: #ecedef;
	border: none;
	font-size: 30px;
	line-height: 30px;
	border-radius: 50px;
	font-weight: 700;
	color: #5E5858;
	cursor: pointer;
    outline: none;
}
.red {
	background: #FF0509 !important;
	color: #ffffff !important;
}

.alert {
	margin: 50px 0;
	position: relative;
	top: 250%;
	left: 50%;
	transform: translate(250%, -50%);
	width: 320px;
	height: 60px;
	border-radius: 14px;
	color: #fff;
	background-color: #FF0509;
	transition: .5s;
}

.alert.active {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.alert-text {
	padding: 20px;
	text-align: center;
	font-weight: 600;
	font-size: 17px;
	line-height: 10px;
}